html, body {
  background-image: url('../Images/map.jpeg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  justify-content: center;
  height: 85vh;
  width: 100vw;
  font-family: fantasy;
}

img {
  max-width: 90vw;
  margin: 1%;
}

h2, .greeting {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.84);
  margin-top: 2em;
  margin-left: 6em;
  margin-bottom: 2em;
  font-size: 36px;
  max-width: 60%
}

p {
  font-size: 21px;
}

h3 {
  font-size: 26px;
}

.homepage-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.84);
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 968px) {
  .homepage-body {
    flex-direction: column;
  }
  .greeting, h2 {
    font-size: 1.3em;
  }
  h3 {
    font-size: 1.1em;
  }
  p {
    font-size: 0.9em;
  }

}
